
.welcome{
    font-size: 100px;
    color: white;
}
.hello{
    font-size: 80px; 
    color: whitesmoke;
}
.allk{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

@media only screen and (max-width: 600px;)
